.switch {
  position: relative;
  display: inline-black;
  width: 44px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 25px;
  width: 44px;
  height: 22px;
  background-color: #ffffff;
  border: #cbc9d1 2px solid;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.slider:before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  left: -5px;
  bottom: -5px;
  background-color: #cbc9d1;
  -webkit-transition: 0.4s;
  transition: 0.4s ease-in-out;
}

.toggleBtn:checked + .slider {
  border: #bb6bd9 2px solid;
}

.toggleBtn:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #bb6bd9;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
