:root {
  --whiteColor: #ffffff;
  --blackColor: #14142a;
  --greenColor: #6fcf97;
  --redColor: #eb5757;
  --purpleColor: #bb6bd9;
  --darkGrayColor: #565561;
  --lightGrayColor: #cbc9d1;
  --blueColor: #72bbff;
  --yellowColor: #ffd75f;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Quicksand:wght@300&display=swap');

/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/* RESET */
* {
  margin: 0px;
  box-sizing: border-box;
}

/* BASE */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--blackColor);
}

.container {
  width: 900px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: var(--whiteColor);
  background-color: var(--purpleColor);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  line-height: 25px;
}

/* button:hover { */
/* box-shadow: ; */
/* } */

.mediumBtn {
  width: 132px;
  height: 35px;
}

.smallBtn {
  width: 98px;
  height: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

button.red {
  background-color: var(--redColor);
}

button.reverse {
  background-color: var(--whiteColor);
  border: var(--purpleColor) solid 2px;
  color: var(--purpleColor);
}

.marginR {
  margin-right: 10px;
}

h1 {
  font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
  font-size: 64px;
  font-weight: 300;
  line-height: 66px;
}

form {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-right: 10px;
  display: inline-block;
  width: 142px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

input {
  margin-bottom: 15px;
  width: 294px;
  height: 35px;
  padding: 5px 15px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--whiteColor);
  border: var(--lightGrayColor) solid 1px;
  outline: none;
  border-radius: 50px;
}

input.err {
  border-color: var(--redColor);
}

.submitBtn {
  background-color: var(--greenColor);
}

.submitBtn:hover {
  box-shadow: rgba(111, 207, 151, 0.16) 0px 3px 6px,
    rgba(111, 207, 151, 0.23) 0px 3px 6px;
}

.submitBtn:active {
  box-shadow: none;
}

.submitBtn,
.signUpBtn,
.createBtn {
  width: 294px;
}

.inputGroup {
  margin-right: 151px;
}

textarea {
  margin-bottom: 15px;
  width: 294px;
  height: 100px;
  padding: 5px 15px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--whiteColor);
  border: var(--lightGrayColor) solid 1px;
  outline: none;
  border-radius: 50px;
}

textarea.err {
  border-color: var(--redColor);
}

/* NAV */
.nav {
  position: fixed;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  border-bottom: var(--lightGrayColor) 1px solid;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Signin */
.signIn.container {
  margin-top: 189px;
}

.signUpBtn {
  margin-top: 15px;
}

.signInBtn {
  margin-bottom: 15px;
}

.signInBtn {
  background-color: var(--greenColor);
}

.inputGroup {
  margin-right: 151px;
}

/* Signup */

/* Mypage */
.mypage.container {
  margin-top: 55px;
}

.mypage h1 {
  margin-top: 45px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(5, 66px);
  grid-template-columns: 142px 294px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 73px;
}

.grid .tag {
  font-weight: 600;
}

.grid .data {
  font-weight: 300;
}

.grid div:last-child {
  margin-top: 34px;
  text-align: end;
  grid-column: span 2;
}

/* Itemlist */
.itemlist.container {
  margin-top: 189px;
}

/* Create */
.create.container {
  margin-top: 55px;
}
.itemdesc {
  resize: none;
}

.grid.storeManagement {
  grid-template-rows: 61px 61px 347px;
  grid-template-columns: 142px 446px;
}

/* .whatthe {
  line-height: 347px;
  vertical-align: baseline;
} */

/* Loading */
.loadimg {
  margin-top: 100px;
}
.bouncybox {
  height: 100px;
  width: 40px;
  margin-left: 0px;
}
.bouncy {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: var(--purpleColor);
  animation: bouncy 2s infinite ease-in-out;
}

@keyframes bouncy {
  40% {
    height: 40px;
  }
  50% {
    transform: translate(0, 65px);
    height: 34px;
    border-radius: 20px;
  }
  65% {
    height: 40px;
  }
}
