:root {
  --whiteColor: #ffffff;
  --blackColor: #14142a;
  --greenColor: #6fcf97;
  --redColor: #eb5757;
  --purpleColor: #bb6bd9;
  --darkGrayColor: #565561;
  --grayColor: #cbc9d1;
  --lightGrayColor: #f2f2f2;
  --blueColor: #72bbff;
  --yellowColor: #ffd75f;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Quicksand:wght@300&display=swap');

/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/* RESET */
* {
  margin: 0px;
  box-sizing: border-box;
}

/* BASE */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--blackColor);
  letter-spacing: 1px;
}

.container {
  width: 900px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--whiteColor);
  background-color: var(--purpleColor);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  line-height: 25px;
}

.mediumBtn {
  width: 132px;
  height: 35px;
}

.smallBtn {
  width: 98px;
  height: 30px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

button.red {
  background-color: var(--redColor);
}

button.reverse {
  background-color: var(--whiteColor);
  border: var(--purpleColor) solid 2px;
  color: var(--purpleColor);
}

.marginR {
  margin-right: 10px;
}

h1 {
  font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
  font-size: 64px;
  font-weight: 300;
  line-height: 66px;
}

form {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-right: 10px;
  display: inline-block;
  width: 142px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 19px;
}

input {
  margin-bottom: 15px;
  width: 294px;
  height: 35px;
  padding: 5px 15px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: var(--whiteColor);
  border: var(--grayColor) solid 1px;
  outline: none;
  border-radius: 50px;
}

input.err {
  border-color: var(--redColor);
}

.submitBtn {
  background-color: var(--greenColor);
}

.submitBtn:hover {
  box-shadow: 0px 4px 8px rgba(111, 207, 151, 0.16),
    0px 4px 8px rgba(111, 207, 151, 0.16),
    0px 6px 16px 2px rgba(111, 207, 151, 0.16);
}

.submitBtn:active {
  box-shadow: none;
}

.submitBtn,
.signUpBtn {
  width: 294px;
}

.inputGroup {
  margin-right: 151px;
}

textarea {
  margin-bottom: 15px;
  width: 294px;
  height: 100px;
  padding: 15px 18px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--whiteColor);
  border: var(--grayColor) solid 1px;
  outline: none;
  border-radius: 20px;
}

textarea.err {
  border-color: var(--redColor);
}

.subNav {
  margin-bottom: 47px;
}

p.err {
  margin-bottom: 6px;
  color: var(--redColor);
}

.bgLightGray {
  background-color: #f2f2f2;
  border-radius: 4px;
}

/* Loading */
.loadimg {
  margin-top: 100px;
}
.bouncybox {
  height: 100px;
  width: 40px;
  margin-left: 0px;
}
.bouncy {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: var(--purpleColor);
  animation: bouncy 2s infinite ease-in-out;
}

@keyframes bouncy {
  40% {
    height: 40px;
  }
  50% {
    transform: translate(0, 65px);
    height: 34px;
    border-radius: 20px;
  }
  65% {
    height: 40px;
  }
}

/* NAV */
.nav {
  position: fixed;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  border-bottom: var(--grayColor) 1px solid;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Signin */
.signIn.container {
  margin-top: 189px;
}

.signInForm {
  margin-bottom: 80px;
  margin-bottom: 15px;
}

.submitBtn {
  background-color: var(--greenColor);
}

.inputGroup {
  margin-right: 151px;
}

/* Signup */
.isOwner {
  margin-top: 46px;
  margin-bottom: 27px;
  font-size: 14px;
  font-weight: 300;
}

/* Mypage */
.mypage.container {
  margin-top: 110px;
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, 66px);
  grid-template-columns: 142px 294px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 73px;
  margin-bottom: 50px;
}

.grid .tag {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
}

.grid .data {
  font-weight: 300;
}

.grid div:last-child {
  margin-top: 34px;
  text-align: end;
  grid-column: span 2;
}

/* Itemlist */

.itemlist.container {
  margin-top: 110px;
}

.itemlistCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 32px;
  margin-bottom: 80px;
  padding: 10px 10px 0 10px;
}

.emptyImgContainer {
  width: 900px;
  height: 500px;
}

.empty {
  width: 250px;
}

/* Create */
.create.container {
  margin-top: 110px;
}

.storeManagement {
  display: grid;
  grid-template-rows: repeat(12, 47px);
  grid-template-columns: repeat(6, 142px);
  column-gap: 10px;
  grid-template-areas:
    'itemname inputname inputname inputname inputname .'
    'itemprice inputprice inputprice inputprice inputprice .'
    'itemdesc inputdesc inputdesc inputdesc inputdesc .'
    '. inputdesc inputdesc inputdesc inputdesc .'
    '. inputdesc inputdesc inputdesc inputdesc .'
    '. inputdesc inputdesc inputdesc inputdesc .'
    '. inputdesc inputdesc inputdesc inputdesc .'
    '. inputdesc inputdesc inputdesc inputdesc .'
    '. inputdesc inputdesc inputdesc inputdesc .'
    '. inputdesc inputdesc inputdesc inputdesc .'
    'itemphoto inputphoto inputphoto inputphoto inputphoto .'
    '. . createBtn createBtn. .';
  margin-bottom: 80px;
}

.itemname {
  grid-area: itemname;
}
.inputname {
  grid-area: inputname;
  margin-bottom: 0px;
  width: 446px;
}
.itemprice {
  grid-area: itemprice;
}
.inputprice {
  grid-area: inputprice;
  margin-bottom: 0px;
  width: 446px;
}
.itemdesc {
  grid-area: itemdesc;
}
.inputdesc {
  grid-area: inputdesc;
  margin-bottom: 0px;
  width: 598px;
  height: 347px;
  resize: none;
}
.itemphoto {
  grid-area: itemphoto;
}
.inputphoto {
  grid-area: inputphoto;
  margin-bottom: 0px;
  width: 446px;
}
.createBtn {
  grid-area: createBtn;
  width: 294px;
}

/* Edit item */
.edit.container {
  margin-top: 110px;
}
/* 
.edititemname {
  grid-area: edititemname;
}
.editinputname {
  grid-area: editinputname;
  margin-bottom: 0px;
  width: 446px;
}
.edititemprice {
  grid-area: edititemprice;
}
.editinputprice {
  grid-area: editinputprice;
  margin-bottom: 0px;
  width: 446px;
}
.edititemdesc {
  grid-area: edititemdesc;
}
.editinputdesc {
  grid-area: editinputdesc;
  margin-bottom: 0px;
  width: 598px;
  height: 347px;
  resize: none;
}
.edititemphoto {
  grid-area: edititemphoto;
}
.editinputphoto {
  grid-area: editinputphoto;
  margin-bottom: 0px;
  width: 446px;
}
.editBtn {
  grid-area: editeditBtn;
  width: 294px;
} */

/* StoreCard */

.storeCard.container {
  display: flex;
  margin-bottom: 20px;
  height: 338px;
}

.storeCard.container:first-child {
  margin-top: 148px;
}

.storeCard.container:last-child {
  margin-bottom: 80px;
}

.storeInfo {
  display: flex;
  margin: 40px 25px;
  width: 245px;
  flex-direction: column;
}

.tagContainer {
  display: flex;
  margin-bottom: 3px;
  color: var(--purpleColor);
  font-weight: 600;
}

.tag {
  display: inline;
}

.tag:not(:last-child) {
  margin-right: 5px;
}

.storename {
  margin-bottom: 8px;
  width: 221px;
  font-size: 24px;
  font-weight: 600;
  word-break: keep-all;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.phone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;
  width: 164px;
  font-size: 14px;
  font-weight: 300;
  background-color: var(--grayColor);
  border-radius: 4px;
}

.phoneIcon {
  margin-right: 10px;
  font-size: 12px;
}

.rating {
  color: var(--yellowColor);
}

.slideContainer {
  display: flex;
  margin-right: 25px;
  align-items: center;
  height: 338px;
}

.slideIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.slideIcon:active {
  opacity: 0.6;
}

.slideItemCard {
  margin: 0 10px 0 10px;
  width: 518px;
  overflow: hidden;
}

.slideAnimation {
  display: flex;
  transition: 0.8s ease-in-out;
}

/* Item */

.itemSlot {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 212.5px;
  background-color: var(--whiteColor);
  border-radius: 4px;
}

.itemSlot:nth-child(4n) {
  margin-right: 0;
}

.itemphotoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  width: 193px;
  height: 150px;
  border-radius: 4px;
}

.itemphoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span.itemname {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

span.itemdesc {
  /* display: inline-block; */
  margin-bottom: 10px;
  line-height: 22px;
  height: 44px;
  font-weight: 300;
  font-size: 16px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

span.itemprice {
  text-align: end;
  font-weight: 600;
  font-size: 16px;
}

.wonSignIcon {
  font-size: 16px;
  margin-left: 4px;
}

.buttonContainer {
  display: flex;
  margin-top: 15px;
}

.itemEditBtn {
  margin-right: 10px;
}
