:root {
  --whiteColor: #ffffff;
  --blackColor: #14142a;
  --greenColor: #6fcf97;
  --redColor: #eb5757;
  --purpleColor: #bb6bd9;
  --darkGrayColor: #565561;
  --lightGrayColor: #cbc9d1;
  --blueColor: #72bbff;
  --yellowColor: #ffd75f;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Quicksand:wght@300&display=swap');

/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/* RESET */
* {
  margin: 0px;
  box-sizing: border-box;
}

/* BASE */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--blackColor);
}

.container {
  width: 900px;
}

button {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  color: var(--whiteColor);
  background-color: var(--purpleColor);
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.mediumBtn {
  width: 132px;
  height: 35px;
}

button.reverse {
  background-color: var(--whiteColor);
  border: var(--purpleColor) solid 2px;
  color: var(--purpleColor);
}

h1 {
  font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
  font-size: 64px;
  font-weight: 300;
}

form {
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  margin-right: 10px;
  display: inline-block;
  width: 142px;
  font-weight: 300;
}

input {
  margin-bottom: 15px;
  width: 294px;
  height: 35px;
  padding: 5px 10px;
  background-color: var(--whiteColor);
  border: var(--lightGrayColor) solid 1px;
  outline: none;
  border-radius: 50px;
}

/* NAV */
.nav {
  position: absolute;
  top: 0px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  border-bottom: var(--lightGrayColor) 1px solid;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input.err {
  border-color: var(--redColor);
}

/* Login */
.login.container {
  margin-top: 189px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.singIn {
  margin-bottom: 15px;
}
.singIn,
.singUp {
  width: 294px;
}

.singIn {
  background-color: var(--greenColor);
}

.inputGuoup {
  margin-right: 151px;
}
